/* Navbar Styles */
.navbar {
    padding: 0.5rem 1rem;
  }
  
  .navbar-brand {
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  
  .nav-link {
    color: #020202 !important;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f7f5f5 !important;
    transform: scale(1.1);
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0;
  }
  
  .navbar-toggler-icon {
    background-color: transparent !important;
  }
  
  
  /* Signature */
  .signature {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-nav {
      align-items: center;
    }
    
    .navbar-brand {
      font-size: 1.3rem;
      white-space: nowrap;
    }
    
    .signature {
      font-family: 'Dancing Script', cursive;
      font-size: 1.5rem;
      color: #ffffff;
    }
  }
  
